{% extends "base.html" %}
{% load static%}
{% block content %}
<section class="page-section bg-light mt-4" id="Auta">
  {% for auto in auta %}
  <!-- Auto 1  -->
  <div class="card mx-auto mb-3" style="max-width: 1000px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{% static "assets/img/auto1.jpg"%}" class="img-fluid rounded-start">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <div style="display: flex">
          <h3 class="card-title" style="margin-right: 0.5em">{{ auto.marka }} {{ auto.model }} </h3> 
          <small class="text-body-secondary" style="display: inline-block; align-self: center;">{{ auto.typ }}</small>
          <h5 style="margin-left: auto; margin-right: 0; ">{{ auto.cena_za_dobe }} PLN / za dobę </h5>
          </div>
          <p>Rocznik: {{ auto.rocznik }}</p>
          <p>Przebieg: {{ auto.przebieg }} km</p>
          <p>Moc silnika: {{ auto.moc_silnika }} KM</p>
          <div  style="display: flex ">
            {% if auto.skrzynia == 1 %}
            Skrzynia biegow: manualna
            {% else %}
            Skrzynia biegow: automatyczna
            {% endif %}
            <a type="button" class="btn btn-primary" style="margin-left: auto; margin-right: 0;" href= {% url "wypozyczenie" %}>Wypozycz</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</section>
{% endblock %}